<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean class="com.epam.internal.daos.UserDao"/>
    <bean class="com.epam.internal.daos.AccountDao"/>
    <bean class="com.epam.internal.daos.IncomeDao"/>
    <bean class="com.epam.internal.daos.OutcomeDao"/>
    <bean class="com.epam.internal.daos.OutcomeTypeDao"/>

    <bean class="com.epam.internal.services.implementation.AccountServiceImpl"/>
    <bean class="com.epam.internal.services.implementation.UserServiceImpl"/>
    <bean class="com.epam.internal.services.implementation.IncomeServiceImpl"/>
    <bean class="com.epam.internal.services.implementation.OutcomeServiceImpl"/>
    <bean class="com.epam.internal.services.implementation.OutcomeTypeServiceImpl"/>



    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/epam?serverTimezone=UTC&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>