<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <sec:http auto-config="true">
        <sec:intercept-url pattern="/" access="permitAll"/>
        <sec:intercept-url pattern="/index" access="permitAll"/>
        <sec:intercept-url pattern="/registration" access="permitAll"/>
        <sec:intercept-url pattern="/welcome" access="permitAll"/>
        <sec:intercept-url pattern="/" access="hasRole('USER')"/>
        <sec:form-login login-page="/login" default-target-url="/index"
                        username-parameter="email"
                        password-parameter="password"
                        authentication-failure-url="/login?error"/>
        <sec:logout logout-url="/logout" logout-success-url="/login?logout"/>
        <sec:csrf/>
    </sec:http>

    <sec:authentication-manager>
        <sec:authentication-provider user-service-ref="customUserDetailsService"/>
    </sec:authentication-manager>

    <bean id="customUserDetailsService"
          class="com.epam.internal.services.implementation.CustomUserDetailsService"/>

</beans>