<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.epam.internal.daos.UserDao" scope="prototype"/>

    <bean id="accountDao" class="com.epam.internal.daos.AccountDao" scope="prototype"/>

    <bean id="incomeDao" class="com.epam.internal.daos.IncomeDao" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="outcomeDao" class="com.epam.internal.daos.OutcomeDao" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="outcomeTypeDao" class="com.epam.internal.daos.OutcomeTypeDao" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="accountService" class="com.epam.internal.services.implementation.AccountServiceImpl"/>

    <bean id="userService" class="com.epam.internal.services.implementation.UserServiceImpl"/>

    <bean id="incomeService" class="com.epam.internal.services.implementation.IncomeServiceImpl"/>
    <bean id="outcomeService" class="com.epam.internal.services.implementation.OutcomeServiceImpl"/>
    <bean id="outcomeTypeService" class="com.epam.internal.services.implementation.OutcomeTypeServiceImpl"/>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    </bean>
</beans>