<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">false</property>

        <mapping class="com.fm.internal.models.User"/>
        <mapping class="com.fm.internal.models.UserInfo"/>
        <mapping class="com.fm.internal.models.Account"/>
        <mapping class="com.fm.internal.models.AccountType"/>
        <mapping class="com.fm.internal.models.Income"/>
        <mapping class="com.fm.internal.models.OutcomeType"/>
        <mapping class="com.fm.internal.models.Outcome"/>
        <mapping class="com.fm.internal.models.Currency"/>
        <mapping class="com.fm.internal.models.HashTag"/>
        <mapping class="com.fm.internal.models.Goal"/>
    </session-factory>
</hibernate-configuration>